
@{
    ViewBag.Title = "add";
}

<h2>添加新闻</h2>
<form action="/Home/Save" method="get">
    <table class="table table-bordered">
        <tr>
            <td>标题：</td>
            <td><input type="text" name="Title" value="" /></td>
        </tr>
        <tr>
            <td>内容</td>
            <td>
                <textarea name="Content" cols="60" rows="4"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <buttton typeof="submit" class="btn btn-primary">保存</buttton>
                <buttton typeof="reset" class="btn btn-warning">取消</buttton>
            </td>
        </tr>

    </table>

</form>


